* {
  padding: 0;
  margin: 0;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  /*清除移动端默认的点击高亮效果*/
  -webkit-tap-highlight-color: transparent;
  /*设置以边框开始计算宽度*/
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: 'hanyizhong';
  src: url("../font/汉仪中圆简.ttf");
}

* {
  font-family: 'hanyizhong'!important;
}

body {
  font-size: 0.28rem;
  color: #333;
  margin: 0;
  background-color: #f8f8f8;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

input {
  border: none;
  outline: none;
  /*清除移动端默认的表单样式*/
  -webkit-appearance: none;
}
input,button,select,textarea{outline:none;}

/*common css*/
.fl {
  float: left;
}

.fr {
  float: right;
}

/*公共样式*/
::-webkit-scrollbar{
  display:none;
}
.con {
  padding: 0 20px;
}

.my-message {
  text-align: center;
  font-size: 16px;
  line-height: 40px;
  border-bottom: 1px solid #999999;
}

.tab ul {
  margin-top: 16px;
  display: flex;
  overflow-x: scroll;
  /* 内容会被裁剪，会以滚动条显示 */
  overflow-y: hidden;  /* 超出内容不可见 */
  white-space: nowrap;  /* 不换行 */
  /* 文本不会换行，会在同一行上继续，直到遇到<br>为止 */
}

.tab ul li {
  float: left;
  height: 25px;
  line-height: 25px;
  text-align: center;
  margin-right: 0.1rem;
  border-radius: 0.2rem 0.2rem 0 0;
  color: #6b3a0f;
  font-size: 0.23rem;
}

.tab .red {
  color: #fff;
}

.home .weui-tabbar {
  background-color: transparent;
}

.home .weui-tabbar:before {
  border-top: none;
}

/*字体颜色*/

.num-title {
  color: #958475
}

.num {
  color: #6b3a0f
}

.public-back {
  width: 1.4rem;
  height: 1.15rem;
}

.public-back img {
  width: 100%;
  height: 100%;
}
